*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contents{
    /* h2의 기준점이 되기 위해 relative값을 줘야함 */
    position: relative;
    width: 800px;
    height: 500px;
    background: url(../images/image.jpg) no-repeat;
    background-size: cover;
    border: 1px solid #aaa;
    border-radius: 30px;
    margin: 100px auto;
}
#contents h2{
    font-size: 120px;
    color: lavender;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
}